/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;

    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --primary-color: #14b8a6;
    --secondary-color: #64748b;
    --first-gradient: linear-gradient(90deg,
            hsl(18, 95%, 55%),
            hsl(18, 98%, 64%));
    --title-color: hsl(255, 12%, 12%);
    --text-color: hsl(225, 12%, 24%);
    --text-color-light: hsl(255, 4%, 70%);
    --body-color: hsl(0, 0%, 100%);
    --container-color: hsl(0, 0%, 100%);
    --white-color: hsl(0, 0%, 100%);
    --black-color: hsl(255, 20%, 10%);
    --gray-border: hsl(255, 6%, 90%);
    --black-border: hsl(255, 10%, 20%);
    --bg-slate-100: rgb(241 245 249 / 1);
    --bg-dark: rgb(15 23 42 / 1);

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Montserrat", sans-serif;
    --big-font-size: 2.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
    :root {
        --big-font-size: 3.5rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
    }
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1, h2, h3, h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.wrap {
    flex-wrap: wrap;
}

.flex {
    display: flex;
}

.section {
    padding-block: 5rem 1rem;
}

.section__title {
    font-size: var(--h1-font-size);
    font-weight: var(--font-bold);
    margin-bottom: 1.5rem;
}

.section__subtitle {
    display: block;
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--second-color);
    margin-bottom: .5rem;
}

.main {
    overflow: hidden;
}

/*=============== HEADER ===============*/
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: var(--z-fixed);
    transition: background-color .4s;
}

.nav {
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: flex;
    align-items: center;
    column-gap: .5rem;
}

.nav__logo i {
    color: var(--primary-color);
    font-size: 1.5rem;
}

.nav__toggle,
.nav__close {
    font-size: 1.5rem;
    color: black;
    cursor: pointer;
}

.nav__logo-svg {
    fill: var(--primary-color);
}

.nav__link {
    color: black;
}

.nav__link:hover {
    color: var(--primary-color);
}

.active-link{
    color: var(--primary-color);
}

.hero__container {
    position: relative;
    row-gap: 2rem;
    padding-block: 1rem 1rem;
}

.section__title {
    color: var(--primary-color);
}

.section__subtitle {
    color: var(--title-color);
    font-size: var(--big-font-size);
}

.hero__tagline {
    color: var(--text-color);
    font-size: medium;
    font-style: italic;
}

.hero__img {
    position: relative;
    justify-content: end;
    align-items: end;
}

.bg-header {
    background-color: white;
    box-shadow: 0 .5px 6px rgba(0, 0, 0, 0.25);
}

.skills__container{
    text-align: center;
    padding: 1rem 1rem;
}

.skill__data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: var(--font-semi-bold);
    padding: .5rem 1rem;
    margin-bottom: 1rem;
    border-radius: .5rem;
    box-shadow: 0 4px 25px rgba(14, 36, 49, .15);

}

.skills__icon{
    color: var(--primary-color);
    margin-right: .5rem;
    font-size: 2rem;
}

.skill__names{
    display: flex;
    align-items: center;
}

.skills__bar{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--primary-color);
    height: .25rem;
    border-radius: .5rem;
    z-index: -10;
}

.skills__flutter{
    width: 90%;
}
.skills__dart{
    width: 90%;
}
.skills__html{
    width: 70%;
}
.skills__css{
    width: 60%;
}
.skills__java{
    width: 70%;
}
.skills__mysql{
    width: 80%;
}
.skills__js{
    width: 50%;
}

.skills__img{
    display: flex;
    border-radius: .5rem;
    width: auto;
}

.skill__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2rem;
}

.skills__list{
    width: 100%;
}
/*projects */
.projects__container {
    position: relative;
    background-color: var(--bg-slate-100);
    row-gap: 4rem;
    /* padding-block: 1rem 1rem; */
    padding-top: 4rem;
    padding-bottom: 3rem;
}

.projects__info {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    margin: 2rem;
}

.projects__info h3 {
    font-size: var(--h3-font-size);
    font-weight: var(--normal-font-size);
    margin-bottom: .5rem;
    padding: .5rem;
    max-width: 1100px;
}

.projects__list {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    column-gap: 3rem;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}

.projects__card {
    margin-bottom: 2rem;
}

.projects__card a {
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--black-color);
}

.projects__card a:hover {
    cursor: pointer;
    color: var(--primary-color);
}

.projects__img {
    border-radius: .8rem;
    width: 500px;
    margin-bottom: .7rem;
}

/*  footer */
.footer {
    background-color: var(--bg-dark);
}

.footer__container {
    padding: 2rem 2.5rem;

}

.footer__content {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: start;
    align-items: start;
}

.footer__info-name {
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
    color: white;
    padding-bottom: 1rem;
}

.footer__info-email,
.footer__info-address {
    color: var(--white-color);
    font-size: var(--normal-font-size);
    font-weight: normal;
}

.footer__info-email {
    padding-bottom: .5rem;
}

.footer__social {
    color: var(--white-color);
}

.footer__social h3 {
    color: var(--white-color);
}

.footer__social-icon {
    font-size: 2rem;
    color: var(--white-color);
    transition: transform .4s;
}

.footer__social-icon:hover {
    color: var(--primary-color);
    cursor: pointer;
    transform: scale(1.2);
}

.contact__textfield {
    width: 100%;
    padding: 12px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    box-sizing: border-box;
}

.contact__textfield:focus{
    border: 2px solid var(--primary-color);
    outline: var(--primary-color);
}

.contact__label{
    margin-bottom: 10px;
    font-size: var(--font-medium);
    font-weight: var(--font-medium);
}

.contact{
    width: 100%;
    padding-bottom: 6rem;
    padding-top: 10rem;
}

.contact__container{
    max-width: 600px;
}

.contact__button{
    padding: .9rem;
    border-radius: .9rem;
    background-color: var(--primary-color);
    border: none;
    font-size: var(--font-medium);
    color: var(--white-color);
}

.contact__button:hover{
    cursor: pointer;
    opacity: 0.8;
}

.contact__title{
    color: var(--primary-color);
    justify-content: center;
    align-items: center;
    display: grid;
    margin-bottom: 1rem;
}

/* Navigation for device mobile*/
@media screen and (max-width: 1149px) {
    .nav {
        margin-top: 1rem;
    }

    .nav__menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 60%;
        height: 100%;
        background-color: white;
        padding: 4rem 3.5rem 0;
        border-left: 2px solid var(--gray-border);
        transition: right .4s;
    }

    .nav__list {
        display: flex;
        flex-direction: column;
        row-gap: 4rem;
    }

    .nav__link {
        color: var(--black-color);
        font-weight: var(--font-semi-bold);
        transition: color .4s;
    }

    .nav__link:hover {
        color: var(--primary-color)
    }

    .nav__close {
        position: absolute;
        top: 1rem;
        right: 2rem;
    }

    .footer__social h3 {
        color: var(--white-color);
        padding-top: 2rem;
        padding-bottom: .5rem;
    }
}

@media screen and (max-width: 689px) {

    .hero__container,
    .hero__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero__person-img {
        align-self: center;
        width: 240px;
        height: 240px;
        border-radius: 50%;
        overflow: hidden;
        margin-top: 2rem;
    }

    .projects__list {
        margin: 0;
    }

    .projects__img {
        width: 100%;
    }

}

@media screen and (min-width: 690px) {
    .nav {
        margin-top: 1rem;
    }

    /* Hero */
    .hero {
        position: relative;
    }

    .hero__content {
        row-gap: 2.5rem;
        grid-template-columns: 2.5fr 300px;
    }

    .hero__data {
        text-align: start;
        width: 100%;
        align-items: center;
        padding-top: 3rem;
    }

    .hero__person-img {
        align-self: center;
        width: 240px;
        height: 240px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto;
    }

    .footer__info {
        width: 60%;
    }

    .footer__content {
        gap: 4rem;
        justify-content: center;
        align-items: baseline;
    }

    .contact{
        width: 80%;
        margin: 0 auto;
        padding-bottom: 6rem;
    }

    .skills__list{
        width: 100%;
    }

    .skill__wrapper{
        column-gap: 2rem;
    }
}

.show-menu {
    right: 0;
}

/* For large device */
@media screen and (min-width: 1150px) {
    .container {
        margin-inline: auto;
    }

    .section {
        padding-block: 7rem 2rem;
    }

    .nav {
        height: calc(var(--header-height) + 2rem);
    }

    .nav__close,
    .nav__toggle {
        display: none;
    }

    .nav__menu {
        display: initial;
    }

    .nav__list {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 4rem;
    }

    .hero__content {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }

    .hero__person-img {
        align-self: center;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto;
    }

    .projects__list{
        display: flex;
        flex-wrap: wrap;
    }

    /* .projects__card{
        max-width: 60%;
    }

    .projects__img{
        width: 100%;
    } */

    .footer__info {
        width: 60%;
    }

    .contact{
        width: 80%;
        margin: 0 auto;
        padding-bottom: 12rem;
        padding-top: 10rem;
    }

    .skills__list{
        width: 40%;
    }

    .skill__wrapper{
        column-gap: 2rem;
    }
}

@media screen and (min-width: 1441px) {
    .projects__list{
        justify-content: center;
    }
}